<div class="row">
  <div class="columns small-12 medium-6 large-4 posts">
    <h3>Register</h3>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="UserName"> Username
          <input name="UserName" type="text" [(ngModel)]="user.username" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label for="Email"> Email
          <input name="Email" type="email" [(ngModel)]="user.email" class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label for="Password"> Password
          <input name="Password" type="password" [(ngModel)]="user.password" class="form-control">
        </label>
      </div>
      <button class="cta-btn filled">Submit</button>
    </form>
  </div>
</div>
