<div class="body-blur">
  <div class="row columns">
    <h1>Register</h1>
  </div>

  <form (ngSubmit)="register()">

    <div class="row columns">
      <label>Username
        <input name="UserName" type="text" [(ngModel)]="user.username" class="form-control">
      </label>
    </div>

    <div class="row columns">
      <label>Email
        <input name="Email" type="email" [(ngModel)]="user.email" class="form-control">
      </label>
    </div>

    <div class="row columns">
      <label>Password
        <input name="Password" type="password" [(ngModel)]="user.password" class="form-control">
      </label>
      <input type="submit" class="cta-btn filled" value="Register">

    </div>
  </form>
</div>
